.app {
	display: flex;
	flex: 1;
	height: 100vh;
}
.app__sidebar {
	display: flex;
	flex: 0.3;
}
.app__notes {
	display: flex;
	flex: 0.7;
	background: #dae5f5;
}
@media screen and (max-width: 768px) {
	.app__notes {
		display: none;
	}
	.app__sidebar {
		flex: 1;
	}
}
